.favorite{
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: center;
    .favorite-center{
        width: 85%;
        height: 100%;
        border: 1px solid lightgray;
        border-radius: 15px;
        padding:  0px 8px;
        .favorite-center-top{
            width: 100%;
            height: 80px;
            display: flex;
            flex-flow: row wrap;
            
            
            
            .favorite-center-top-right{
                width: 55%;
                height: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                align-items: center;
               
                h5{
                    font-family: var(--font--family);
                   font-size: 20px;
                   font-weight: normal;

                }
              
               
            }
            .favorite-center-top-left{
                width: 45%;
                height: inherit;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                align-items: center;
                a{
                    font-family: var(--font--family);
                    text-decoration: none;
                    color: #47c2ca;
                    font-weight: 600;
                }
            }
        }
        .favorite-center-bottom{
            width: 100%;
            height: calc(100%-80px);
            .swiper {
                width: 100%;
                height: 100%;
              }
          
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                .favorite-center-bottom-items{
                    width: 100%;
                    height: 100%;
                   
                    .favorite-center-bottom-items-all{
                        width: 100%;
                        height: 33%;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        column-gap: 10px;
                        img{
                            width: 86px;
                            height: 86px;
                        }
                        span{
                            font-family: var(--font--number);
                            color: #22b9d0;
                            font-size: 35px;
                            font-weight: bold;

                        }
                        p{
                            width: 55%;
                            font-family: var(--font--family);
                            font-size: 12px;
                            text-align: right;
                            line-height: 25px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                            padding: 40px 0px;
                          

                        }
                    }
                }
              }
          
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
        }
}}
.border-bottom{
    border-bottom: 1px solid rgb(211, 209, 209);
   
}