.footer{
    width: 100%;
    height: 450px;
    .footer-banner{
        width: 98%;
        height: 80px;
        background-color:#3c4a6d ;
        margin: 0 auto;
        border-radius: 10px;
        padding: 15px 20px;
        display: flex;
        border-bottom: 1px solid lightgray;
        .footer-banner-right{
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            column-gap: 20px;
            
            img{
                width: 44px;
                height: 44px;
            }
            p{
                font-family: var(--font--family);
                text-align: center;
                color: white;
                font-size:20px;
                font-weight: bold;
            }
        }
        .footer-banner-left{
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            column-gap: 20px;
            img{
                width: 142px;
                height: 44px;
            }
            .etcetra{
                width: 44px;
                height: 44px;
                background-color: white;
                border-radius: 8px;
                img{
                    width: 100%;
                    height: 100%;
                   
                }
            }
          
        }
    }
    .footer-middle{
        width: 100%;
        height: 400px;
        margin-top:30px ;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        .footer-middle-right{
            width: 70%;
            
          
            h4{
                font-family: var(--font--family);
                font-size: 20px;
                font-weight: bold;color: #686b71;
                padding: 15px 0;
            }
            p{
                font-family: var(--font--family);
                font-size: 13px;
                color: #949293;
                line-height: 25px;

            }
        }
        .footer-middle-left{
            width:25%;
            display: flex;
            column-gap: 5px;
            .footer-middle-left-item{
            width: 108px;
            height: 108px;
            border: 1px solid lightgray ;
            border-radius: 8px;
           
            img{display: block;
                margin: 13px auto;
                width: 80px;
                height: 80px;
              
            
            }
        }
    }

    }
    .footer-bottom{
        width: 100%;
        height: 160px;
        .footer-bottom-header{
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-family: var(--font--family);
                font-size: 11px;
                color: #828286;
            }
        }
       
       
        .footer-bottom-top{
            width: 100%;
            height: 50%;
            display: flex;
            background-color: #f0f0f0;
           
            .footer-bottom-top-item{
                height: 100%;
                width: 12.5%;
                display: flex;
                justify-content: center;
                align-items: center;
             
                border-left: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                img{
                    
                    height: 20px;
                   margin: 0 auto;
                   }

            }
           
        }
        .footer-bottom-bottom{
            width: 100%;
            height: 50%;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            .footer-bottom-bottom-item{
                width: 16.7%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-left: 1px solid lightgray;
                padding: 14px 14px 0 0;
                img{
                 
                    height: 20px;
                   
                   }

            }
          
        }
    }
}