.fourpic-second{
    width: 100%;
    height: 240px;
    .fourpic-second-center{
        width: 85%;
        height: inherit;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
       
        .fourpic-second-center-img{
            width: 24%;
            height: 100%;
          
        }
        img{
          width: 100%;
          height: 100%;
         object-fit: cover;
         object-position: right center;
         border-radius: 15px;
        }
    }
}