.sugest{
    width: 100%;
    height: 320px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    .sugest-center{
        width: 85%;
        height: 310px;
        background-color:#ef3a4e;
        border-radius: 25px;
        padding: 20px 0;
      
    
        
    .swiper {
        width: 100%;
        height: 100%;
    }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-slide-item-first{
                width: 100%;
                height: 100%;
                background-color: #ef3a4e;
                .swiper-slide-item-first-item-qube{
                  display: flex;
                  justify-content: center;
                  column-gap: 5px;
                  .spots{
                    color: white;
                    font-size: 25px;
                  }
                  .swiper-slide-item-first-item-qube-item{
                    width: 30px;
                    height: 30px;
                    background-color: white;
                    border-radius: 8px;
                    span{
                      font-family: var(--font--number);
                      font-weight: bold;
                      color: rgb(51, 49, 49);
                      text-align: center;
                    }
                  }

                }
                .swiper-slide-item-first-item{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                
                  a{
                    font-family: var(--font--family);
                    font-size: 15px;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    svg{
                      padding-top: 8px;
                    }
                  }
                }
            }
        .swiper-slide-item {
          width: 100%;
          height:100%;
          padding: 15px 5px;
        
          .swiper-slide-item-image {
            width: 144px;
            height: 132px;
            img {
              width: 132px;
              height: 132px;
            }
          }
          .swiper-slide-item-describe {
            width: auto;
            height: 45px;
            p {
              font-family: var(--font--family);
              font-size: 12px;
              font-weight: 20px;
              color: #7b7ba8;
              text-align: right;
              padding:10px 5px 0px 5px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp:2;
              overflow: hidden;
            }
         
          }
          .swiper-slide-item-price {
            width: 100%;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: space-between;
           
  
            .swiper-slide-item-price-right {
              width: 35px;
              height: 20px;
              background-color: #ef3a4e;
              border-radius: 15px;
              display: flex;
              justify-content: center;
              span {
                color: white;
                font-family: var(--font--number);
                font-weight: bold;
                font-size: 14px;
              }
            }
            .swiper-slide-item-price-left {
              width: 140px;
              height: 34px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              span {
                font-family: var(--font--number);
                font-weight: bold;
                color: #3f4064;
                font-size: 20px;
              }
              img {
                width: 18px;
                height: 18px;
              }
            }
          }
          .swiper-slide-item-price-before {
            width: 100%;
            height: 20px;
            padding-left: 15px;
            display: flex;
            justify-content: flex-end;
            span {
              font-family: var(--font--number);
              color: rgb(186, 181, 181);
              text-decoration: line-through;
              font-size: 15px;
              font-weight: bold;
            }
          }
        }
  
        .swiper-slide img {
          display: block;
          width: 132px;
          height: 132px;
          object-fit: cover;
        }
      }
  
     
    }
}
.border-radius-first{
  border-radius: 0px 8px 8px 0;
}
.border-radius-last{
border-radius: 8px 0 0 8px;
}