@font-face {
  font-family: "IRANYekanWeb";
  src: url("IRANYekanWeb.eot");
  src: url("IRANYekanWeb.eot?#iefix") format("embedded-opentype");
  src: url("IRANYekanWeb.woff2") format("woff2");
  src: url("IRANYekanWeb.woff") format("woff");
  src: url("IRANYekanWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
