.incredible-finished {
  width: 100%;
  height:490px;
  padding:0px 10px;
  margin: 10px 0px;
 
  .incredible-finished-center{
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin: 20px 0;
  
  .incredible-finished-center-top {
    width: 100%;
    height: 70px;
    display: flex;
    column-gap: 5px;
    align-items: center;
    padding-right: 15px;
   
    img{
      width: 24px;
      height: 24px;
    }
    p{
      font-family: var(--font--family);
      font-weight: 600;
      color: #2b2b2b;
    }
  }
  .incredible-finished-center-top-line{
    width: 70px;
    height: 2px;
    background-color: #ef3a4e;
    margin:0 15px 15px 0;
    
  }
  .incredible-finished-center-slider {
    width: 100%;
    height: 390px;
   
    .swiper {
      width: 100%;
      height: 100%;
     
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-item {
        width: 100%;
        height: 100%;
        row-gap: 10px;
        padding: 10px 5px;
        margin-left: 25px;
        border-left: 1px solid lightgray;
        .swiper-slide-item-suggest {
          width: 116px;
          height: 25px;
        }

        .swiper-slide-item-image {
          width: 150px;
          height: 150px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .swiper-slide-item-describe {
          width: auto;
          height: 75px;
          p {
            font-family: var(--font--family);
            font-size: 12px;
            font-weight: bold;
            line-height: 25px;
            color: #494a73;
            text-align: right;
            padding: 8px 0;
          }
          span {
            width: 100%;
            height: 20px;
            display: block;
            color: #ef3a4e;
            font-size: 10px;
            text-align: right;
           margin: 12px 0;
          }
        }
        .swiper-slide-item-price {
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 25px;

          .swiper-slide-item-price-right {
            width: 35px;
            height: 20px;
            background-color: #ef3a4e;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            span {
              color: white;
              font-family: var(--font--number);
              font-weight: bold;
              font-size: 14px;
            }
          }
          .swiper-slide-item-price-left {
            width: 140px;
            height: 34px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            span {
              font-family: var(--font--number);
              font-weight: bold;
              color: #3f4064;
              font-size: 20px;
            }
            img {
              width: 18px;
              height: 18px;
            }
          }
        }
        .swiper-slide-item-price-before {
          width: 100%;
          height: 25px;
          padding-left: 15px;
          display: flex;
          justify-content: flex-end;
          span {
            font-family: var(--font--number);
            color: rgb(186, 181, 181);
            text-decoration: line-through;
            font-size: 15px;
            font-weight: bold;
          }
        }
        .swiper-slide-item-progress {
          width: 100%;
          height: 10px;
          direction: ltr;
          .swiper-slide-item-progress-first {
            width: 95%;
            height: 5px;
            background-color: lightgray;
            border-radius: 3px;
            .swiper-slide-item-progress-red {
              width: 80%;
              height: 100%;
              background-color: #ef3a4e;
              border-radius: 3px;
            }
          }
        }
        .swiper-slide-item-time {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .swiper-slide-item-time-right {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            column-gap: 5px;
            span {
              font-family: var(--font--number);
              color: #ef3a4e;
              font-weight: bold;
              font-size: 12px;
            }
            p {
              font-size: 12px;
              color: rgb(179, 176, 176);

              font-family: var(--font--family);
            }
          }
          .swiper-slide-item-time-left {
            font-family: var(--font--number);
            color: #ef3a4e;
            font-weight: bold;
            font-size: 15px;
          }
        }
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
}